[Unit]
Description=Kafka
Requires=network.target remote-fs.target
After=network.target remote-fs.target zookeeper.service

[Service]
Type=simple
User=root
# Environment=/kafka/logs/
ExecStart=/kafka/bin/kafka-server-start.sh /etc/kafka/kafka.conf
ExecStop=/kafka/bin/kafka-server-stop.sh /etc/kafka/kafka.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target