[Unit]
Description=Zookeeper
Before=
After=network.target

[Service]
Type=simple
User=root
Environment=/kafka/logs/
ExecStart=/kafka/bin/zookeeper-server-start.sh /kafka/config/zookeeper.properties
ExecStop=/kafka/bin/zookeeper-server-stop.sh /kafka/config/zookeeper.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target