[Unit]
Description=Zookeeper
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
# Environment=/kafka/logs/
ExecStart=/kafka/bin/zookeeper-server-start.sh /etc/kafka/zookeeper.conf
ExecStop=/kafka/bin/zookeeper-server-stop.sh /etc/kafka/zookeeper.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target